# All hidden files
.*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so
*.o

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
*.egg
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
nosetests.xml
coverage.xml
*.cover
*.py,cover
cover/

# IPython/Jupyter
*.ipynb
profile_default/
ipython_config.py

# Environments
env/
venv/
ENV/
env.bak/
venv.bak/

# mkdocs documentation
/site

# mypy
dmypy.json

# Cython debug symbols
cython_debug/

# Local development helpers
activate
python.mk
